:root{
    --background: #0d0e0eff;
    --foreground: #151616;
    --accent: #8bc5d4;
    --textColour: #ffffff;
}
html{
    scroll-behavior: smooth;
    height: 100%;
    scrollbar-color: var(--accent) var(--background);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("images/cursor.png") 8 8, auto;

}
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
body {
    background-color: var(--background);
    color: var(--textColour);
    height: 10vh;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

}
.divBar{
    color: var(--textColour);
    width: 80vw;
    height: 1px;
    top : 0;
}
.footer{
    position: relative;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer p{
    margin-left: 30vw;
    margin-top: 20px;
}
.footer .arrowImg{
    bottom: 0;
}
.arrowImg{
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    z-index: 3;
    animation: verySlideDown 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.arrowImg:hover{
    transform: translateX(-50%) scale(1.1);
    transition: all 0.2s ease-in-out;
}
.arrowImg:active{
    transform: translateX(-50%) scale(1.05);
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
#splash{
    height: 100vh;
}
.sectCont{
    position: relative;
    width: 100vw;
    overflow: hidden;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background: var(--background);
    padding-top: 20px;
    align-items: center;
    padding-top: 8vh;
}
#textCover{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#textCover2{
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 200px;
    font-size: small !important;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    overflow: hidden;

}
.scrollContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* scroll-snap-type: y mandatory; */
    transition: all 1s ease-in-out;
}
.scrollArea{
    scroll-snap-align: center;
    transition: all 1s ease-in-out;
    
}
iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    animation: unBlur 2s ease-in-out;

}
#iFrameOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient( 170deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #0d0e0e 70%);
    z-index: 1;
    transition: all 1s ease-in-out;
    opacity: 1;
}
#iFrameOverlayLight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient( 170deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #edf1f1 70%);
    z-index: 1;
    transition: all 1s ease-in-out;
    opacity: 0;
}


.link{
    color: var(--textColour);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    scale: 1;
    text-align: center;
}
.link:hover{
    color: var(--accent);
    transition: all 0.2s ease-in-out;
    scale: 1.1;
}
.link:active{
    color: var(--accent);
    transition: all 0.2s ease-in-out;
    scale: 1.2;
}

.noWrap{
    flex-wrap: nowrap;
}
.noWrap .panel{
    min-width: 0; 
}
.smallDiv{
    position: relative;
    width: 20vw;
    z-index: 2;
    margin: 10px;
    animation: slideFromLeft 2s ease-in-out;
}

.subtitle{
    top: 50%;
    left: 50%;
    width: 100%;
    height: fit-content;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    z-index: 2;
    animation: slideDown 2s ease-in-out;
}

.bigText{
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    z-index: 2;
    animation: slideDown 2s ease-in-out;
    margin: 20px;

}

.smallText{
    top: 50%;
    left: 50%;
    width: 100%;
    height: fit-content;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    z-index: 2;
    animation: slideDown 2s ease-in-out;
}
.socialIcons{
    margin: 10vh 0;
}

.devicon{
    font-size: 4rem;
    color: var(--textColor);
    transition: all 0.2s ease-in-out;
}
.itemList{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.listItem{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    width: 14vw;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}
.sideBySidePanels{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.topToBottomPanels{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.listItem .smallText{
    text-align: center;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
}
.listItem:hover .smallText, .listItem:hover .devicon{
    color: var(--accent);
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.verySmallText{
    font-size: 1.2rem;
    color: var(--textColor);
    transition: all 0.2s ease-in-out;
}

#thingsTxt{
    font-weight: 400;
}

.leftText{
    text-align: left;
}

.projectsPanels{
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: visible;
}
.projPanel{
    position: relative;
    width: 26vw;
    height: 45vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--foreground);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    scale: 1;
    z-index: 2;
}

@media screen and (max-width: 1000px) {
    .projPanel{
        width: 60vw;
        height: 140%;
    }
    .projPanel .smallText{
        font-size: 2rem !important;
        padding: 2vw !important;
    }
    .projPanel .link{
        font-size: 2.5rem;
    }
    .displayImg{
        margin-top: 20px !important;
        width: 50vw !important;
        height: fit-content !important;
    }
    .sideBySidePanels{
        flex-direction: column;
    }
    .faceCover{
        width: 100vw !important;
    }
    .panel{
        width: 100vw !important;
    }
    .bigText{
        font-size: 6rem;
    }
    .smallText{
        font-size: 2.5rem;
    }
    .verySmallText{
        font-size: 1.5rem;
    }
    .subtitle{
        font-size: 2.5rem;
    }
    .listItem{
        scale: 1.3;
    }
    #themeToggle{
        margin: 15px;
        margin-top: 30px;
        scale: 2 !important;
    }
}
.projPanel:hover{
    scale: 1.05;
    transition: all 0.2s ease-in-out;
    z-index: 3;
}
.projPanel .smallText{
    text-align: left;
    padding: 15px;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}

        
.displayImg{
    width: 24vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}
.faceCover{
    height: 80vh;
    object-fit:scale-down;
    z-index: 3;
    border-radius: 90%
}


.icon{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.panel{
    position: relative;
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow:hidden;
    object-fit: contain;
    align-items: center;
    padding: 0 10vw;
}

#themeToggle{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 50px;
    z-index: 4;
    transition: all 0.2s ease-in-out;
    background: var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    transition: all 2s ease-in-out;
}
#themeToggle[data-theme="light"]{
    border-radius: 0 0 10px 10px;

}
#themeToggle[data-theme="dark"]{
    border-radius: 10px 10px 0 0;

}
#themeToggle:hover{
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}
